@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins transition-all duration-300;
  }

  h1 {
    @apply sm:text-[18px] md:text-2xl lg:text-3xl xl:text-3xl 2xl:text-3xl text-primary font-black;
  }

  p {
    @apply font-medium;
  }

  header,
  nav,
  img {
    @apply select-none;
  }

  header,
  nav {
    @apply bg-backgroundPrimaryLight dark:bg-backgroundPrimaryDark transition-all duration-300;
  }

  li {
    @apply list-none text-black dark:text-color font-medium;
  }

  li a {
    @apply hover:text-primary;
  }

  button {
    @apply select-none;
  }

  ::-webkit-scrollbar {
    @apply w-[10px];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-2xl;
  }

  progress::-webkit-progress-bar {
    @apply bg-backgroundPrimaryLight dark:bg-backgroundPrimaryDark;
  }

  progress::-webkit-progress-value {
    @apply bg-primary;
  }
}

html {
  scroll-behavior: smooth;
}

progress {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border: none;
  background: transparent;
}

.animation-scroll {
  animation: scroll 0.7s linear infinite;
  animation-direction: alternate;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
