@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins transition-all duration-300;
  }

  h1 {
    @apply sm:text-[18px] md:text-2xl lg:text-3xl xl:text-3xl 2xl:text-3xl text-primary font-extrabold;
  }

  p {
    @apply font-medium;
  }

  header,
  nav,
  img {
    @apply select-none;
  }

  header,
  nav {
    @apply bg-backgroundPrimaryDark transition-all duration-300;
  }

  li {
    @apply list-none text-color font-medium hover:text-primary;
  }

  button {
    @apply select-none;
  }

  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-2xl;
  }

  progress::-webkit-progress-bar {
    @apply bg-backgroundPrimaryDark;
  }

  progress::-webkit-progress-value {
    @apply bg-primary;
  }
}

html {
  scroll-behavior: smooth;
}

progress {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  border: none;
  background: transparent;
}

ul li .active {
  color: #1d4ed8;
  position: relative;
  padding-bottom: 6px;
}

ul li .active::after {
  content: "";
  width: 85%;
  height: 2px;
  display: block;
  background: #1d4ed8;
  left: 40%;
  transform: translateX(-40%);
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}

ul li :not(.active) {
  position: relative;
  padding-bottom: 6px;
}

ul li :not(.active)::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background: #1d4ed8;
  left: 40%;
  transform: translateX(-40%);
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}

ul li :not(.active):hover::after {
  width: 85%;
}
